<div id="wrapper">

  <!-- Sidebar -->
  <app-left-menu></app-left-menu>
  <!-- End of Sidebar -->
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->

      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid" style="padding-top: 20px">

        <!-- Page Heading -->
        <section class="slider_section">
          <div class="row">
            <div class="col-10" style="z-index: 0;">
              <div style="text-align: center;">
                <img style="z-index: -1" class="page-detail"
                  src="https://cdn.aprendecoreanohoy.com/9700-thickbox_default_2x/sejong-korean-conversation-2-beginner.jpg"
                  alt="">
              </div>
            </div>
            <div class="col-2" style="z-index: 1;">
              <div style="text-align: center;">
                <div>
                  <button class="btn btn-success" (click)="generateButton()">Add</button>
                  <button class="btn btn-primary" style="margin-right: 5px;">Save</button>
                  <button class="btn btn-danger" (click)="deleteAllButton()">Delete</button>
                </div>
                <div *ngFor="let item of listButton, let i = index" cdkDrag (cdkDragEnded)="dragEnd($event, i)"
                  style="display: flex">
                  <a href="#" class="btn btn-primary btn-circle btn-lg">
                    <mat-icon>mic</mat-icon>
                  </a>
                  <a href="#" class="btn btn-success btn-circle btn-lg">
                    <mat-icon>speaker_group</mat-icon>
                  </a>
                  <a href="#" class="btn btn-info btn-circle btn-lg">
                    <mat-icon>speaker</mat-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </section>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <app-footer></app-footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>