<div class="hero_area">
  <app-menu></app-menu>
  <!-- end header section -->
  <!-- slider section -->
  <section class="slider_section">
    <div class="row">
      <div class="col-4" style="z-index: 1;">
        <section class="contact_section layout_padding">
          <div style="text-align: center; margin-bottom: 10px;">
            <div class="d-flex justify-content-center">
              <button class="btn" (click)="generateButton()">Add</button>
              <button class="btn" (click)="generateButton()" style="display: none;">Add</button>
            </div>
          </div>
        </section>
        <div *ngFor="let item of listButton, let i = index" cdkDrag (cdkDragEnded)="dragEnd($event, i)"
          style="border: 1px solid white; text-align: right;">
          <!--STUDENT RECORD-->
          <button class="btn padding-0" type="submit">
            <mat-icon>record_voice_over</mat-icon>
          </button>
          <!--STUDENT PLAY-->
          <button class="btn padding-0" type="submit">
            <mat-icon>speaker</mat-icon>
          </button>
          <!--TEACHER RECORD-->
          <button class="btn padding-0" type="submit">
            <mat-icon>record_voice_over</mat-icon>
          </button>
          <!--TEACHER PLAY-->
          <button class="btn padding-0" type="submit">
            <mat-icon>speaker</mat-icon>
          </button>
        </div>
      </div>
      <div class="col-8" style="z-index: 0;">
        <div style="text-align: center;">
          <img style="z-index: -1" class="page-detail"
            src="https://cdn.aprendecoreanohoy.com/9700-thickbox_default_2x/sejong-korean-conversation-2-beginner.jpg"
            alt="">
        </div>
      </div>
    </div>
  </section>
  <!-- end slider section -->
</div>