<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="login-bg-image"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Kduhoc</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="redirectTo('/ui/books')">
            <i class="fas fa-fw fa-table"></i>
            <span>Book</span></a>
    </li>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="redirectTo('/ui/classes')">
            <i class="fas fa-fw fa-table"></i>
            <span>Class</span>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link"  href="javascript:void(0)" (click)="redirectTo('/ui/teachers')">
            <i class="fas fa-fw fa-table"></i>
            <span>Teacher</span>
        </a>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Student</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <!-- <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a>
    </li> -->

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-table"></i>
            <span>PhuoChi | Đăng xuất</span></a>
    </li>
</ul>